body{
	background-color: #F5F5F5;
	margin: 60px;
  font-family: Verdana, sans-serif;
}
.wrapper{
	margin: auto;
  border: 2px dotted grey;
  padding: 30px;
  border-radius: 15px;
  background-color: white;
}
header{
  text-align: center;
  color: #FF5F00;
  background-color: #AFAFAF;
  padding: 5px;
  margin: 10px;
  border-radius: 15px;
}
.logo{
  text-align: center;
}
section{
  margin: auto;
}
section div{
  width: 80%;
  margin: auto;
}
nav{
  padding: 50px 0px;
}
nav a{
  padding: 10px;
}
ul{
  list-style-type: none;
  list-style-position: inside;
}
.navmain{
  text-align: center;
}
.center{
  text-align: center;
}
ul.navmain li{
  display: inline;
  padding: 5px 20px;
  border: 2px;
}
ul.navmain li a{
  border: 2px solid grey;
  border-radius: 10px;
  background-color: #0082D1;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
ul.navmain li a:hover,
ul.navmain li a:focus{
  border: 2px solid grey;
  border-radius: 10px;
  background-color: #AFAFAF;
  color: #FF5F00;
  font-weight: bold;
  text-decoration: none;
}
ul.navmain li a:active{
  border: 2px solid grey;
  border-radius: 10px;
  background-color: #AFAFAF;
  color: #FF5F00;
  font-weight: bold;
  text-decoration: none;
}
li{
  text-align: justify;
}
h1, h3{
  font-family: Verdana, sans-serif;
  text-align: center;
}
a{
  text-decoration: none;
}
a:link{
  color:  #778899;
}
a:visited{
  color: Purple;
}
a:hover{
  color: #000000;
}
table{
  width: 100%;
} 
table.uebersicht{
  text-align: left;
}
.uebersicht td{
  text-align: justify;
  border-bottom: 1px dotted grey;
  border-collapse: collapse;
  padding: 8px 0 8px 0;
  vertical-align: middle;
}
table.teilnehmer{
  border: 1px solid black;
  border-collapse: collapse;
  color: black;  
  margin: 0px;
}
table.teilnehmer th{
  background-color: #76B900;
  color: white;
  padding: 10px;
  margin: 0px;
  border: 1px solid black;
}
table.teilnehmer td{
  padding: 10px;
  margin: 0px;
  border: 1px solid black;
}
.shadow{
    box-shadow: 5px 5px 10px grey;
}

footer{
  padding-top: 30px;
  text-align: center;
}