body{
	background-color: #F5F5F5;
	margin: 60px;
  font-family: 'Raleway', sans-serif;
}
.wrapper{
	margin: auto;
  border: 2px dotted grey;
  padding: 30px;
  border-radius: 15px;
  background-color: white;
}
header{
  text-align: center;
}
.header{
}
.logo{
  text-align: center;
}
section{
  text-align: center;
}
nav{
  padding: 10px 10px 10px 10px;
}
ul{
  list-style-type: none;
  list-style-position: inside;
}
.navmain{
  text-align: center;
}
.center{
  text-align: center;
}
ul.navmain li{
  display: inline;
  padding: 5px 20px;
}
li{
  text-align: justify;
}
h1, h3{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
a{
  text-decoration: none;
}
a:link{
  color:  #778899;
}
a:visited{
  color: Purple;
}
a:hover{
  background-color: #F5F5F5;
  color: #000000;
}
table{
  width: 90%;
} 
th, td{
  text-align: justify;
  border-bottom: 1px dotted grey;
  padding: 8px 0 8px 0;
  vertical-align: middle;
}
footer{
  padding-top: 30px;
  text-align: center;
}